<head>
	<meta charset="utf-8">

	<title>Jon Rovira</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>