<header>
	<nav>
		<a href="/"><img class="header-img" src="/images/navLogo.png" /></a>
		<nav id="header-social">
			<ul>
				<li><a href="https://www.facebook.com/jon.rovira" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://www.linkedin.com/in/jonrovira" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</nav>
		<nav id="header-menu">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/#portfolio">portfolio</a></li>
				<li><a href="/#skills">skills</a></li>
				<li><a href="/#about">about</a></li>
				<li><a href="/#contact">contact</a></li>
			</ul>
		</nav>
	</nav>
</header>