<header>
	<nav>
		<a href="/"><img class="header-img" src="/images/navLogo.png" /></a>
		<nav class="header-social">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</nav>
		<nav class="header-menu">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/">portfolio</a></li>
				<li><a href="/">skills</a></li>
				<li><a href="/">about</a></li>
				<li><a href="/">contact</a></li>
			</ul>
		</nav>
	</nav>
</header>