<header>
	<nav>
		<img class="header-img" src="#" />
		<nav class="header-menu">
			<ul>
				<li>home</li>
				<li>portfolio</li>
				<li>about</li>
				<li>contact</li>
			</ul>
		</nav>
		<nav class="header-social">
			<ul>
				<li>F</li>
				<li>in</li>
			</ul>
		</nav>
	</nav>
</header>