<section id="welcome">
	<div class="section-content">
		<h1>JON ROVIRA</h1>
		<h2>Web | Software | Design</h2>
		<div id="welcome-circle">
			<div id="welcome-triangle"></div>
		</div>
	</div>
</section>

<hr>

<section id="portfolio">
	<div class="section-content">
		<h1 class="section-header">portfolio</h1>

		<div id="portfolio-items-wrapper">
			<ul id="portfolio-gallery">
				<li class="portfolio-item">
					<a href="/portfolio/the-book/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>The Book</h2>
							<span>Web Design, UI/UX Design, Front-end Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/master-of-science-in-robotics-website/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>Master of Science in Robotics Website</h2>
							<span>Web Design, Back-end Development, UI/UX Design, Front-end Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/census/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>Census</h2>
							<span>Web Design, UI/UX Design, Front-end Development,</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/rj/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>RJ</h2>
							<span>Software Development, UI/UX Design</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/jonrovira-dot-com/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>JonRovira.com</h2>
							<span>Web Design, Back-end Development, UI/UX Design, Front-end Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/dj-raffe/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>DJ Raffe</h2>
							<span>Product Research, Web Design, UI/UX Design, Front-end Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a href="/portfolio/airhop-website/">
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>AirHop Website</h2>
							<span>UI/UX Design, Front-End Development</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<i id="portfolio-scroll-backward-indicator" class="portfolio-scroll-indicator fa fa-caret-left"></i>
		<i id="portfolio-scroll-forward-indicator" class="portfolio-scroll-indicator fa fa-caret-right"></i>
	</div>
</section>

<hr>

<section id="skills">
	<div class="section-content">
		<h1 class="section-header">skills</h1>

		<h2>Languages I Know Best</h2>
		<ul id="skills-graph">
			<li id="y-axis">
				<span>Ninja</span>
				<span>Fluent</span>
				<span>Well-versed</span>
				<span>Proficient</span>
				<span>Illiterate</span>
			</li>
			<li id="skill-html" class="skill">
				<span class="skill-level">95%</span>
				<span class="skill-name">HTML</span>
			</li>
			<li id="skill-css" class="skill">
				<span class="skill-level">90%</span>
				<span class="skill-name">CSS</span>
			</li>
			<li id="skill-javascript" class="skill">
				<span class="skill-level">75%</span>
				<span class="skill-name">Javascript</span>
			</li>
			<li id="skill-python" class="skill">
				<span class="skill-level">90%</span>
				<span class="skill-name">Python</span>
			</li>
			<li id="skill-cpp" class="skill">
				<span class="skill-level">80%</span>
				<span class="skill-name">C++</span>
			</li>
		</ul>

		<h2>Frameworks, Tools, and Libraries I Use</h2>
		<ul id="frameworks-tools-libraries">
			<li>JQuery</li>
			<li class="list-square">&#x25A0;</li>
			<li>NodeJS</li>
			<li class="list-square">&#x25A0;</li>
			<li>Express</li>
			<li class="list-square">&#x25A0;</li>
			<li>HTML5</li>
			<li class="list-square">&#x25A0;</li>
			<li>CSS3</li>
			<li class="list-square">&#x25A0;</li>
			<li>SASS</li>
			<li class="list-square">&#x25A0;</li>
			<li>Handlebars</li>
			<li class="list-square">&#x25A0;</li>
			<li>Bourbon</li>
			<li class="list-square">&#x25A0;</li>
			<li>Wordpress</li>
			<li class="list-square">&#x25A0;</li>
			<li>Foundation</li>
			<li class="list-square">&#x25A0;</li>
			<li>Robot Operating System</li>
			<li class="list-square">&#x25A0;</li>
			<li>Command Line</li>
		</ul>
	</div>
</section>

<hr>

<section id="about">
	<div class="section-content">
		<h1 class="section-header">about me</h1>
		<div id="about-left">
			<p>
				I'm a web and software developer currently in my junior year at 
				Northwestern University. My main interests are in UI/UX
				design and most of the work I do somehow involves creating powerful 
				but user-centered interfaces, whether that be with a natural
				interaction robotic display, a tool for students to communicate
				with professors during lecture in real time, or a platform that
				teaches children polyrhythmic foundations.
			</p>
			<p>
				Outside of school and projects, I love traveling, playing the piano and
				trumpet, and doing just about anything else that involves music.
				When I'm back home in Colorado, I enjoy skiing in the
				winter and hiking and kayaking throughout the summer.
			</p>
			<h3>Quick details</h3>
			<ul id="quick-details">
				<li class="list-square">&#x25A0;</li><li>20 years old</li>
				<li class="list-square">&#x25A0;</li><li>Junior at Northwestern University</li>
				<li class="list-square">&#x25A0;</li><li>Earning BS in Computer Science</li>
			</ul>
		</div>
		<div id="about-right">
			<div id="face">
				<div id="hair">
					<div id="clump-left" class="clump">
						<div class="hair hair-1 bs1"></div>
						<div class="hair hair-2 bs2"></div>
						<div class="hair hair-3 bs3"></div>
						<div class="hair hair-4 bs1"></div>
						<div class="hair hair-5 bs2"></div>
						<div class="hair hair-6 bs3"></div>
						<div class="hair hair-7 bs1"></div>
						<div class="hair hair-8 bs2"></div>
						<div class="hair hair-9 bs3"></div>
						<div class="hair hair-10 bs1"></div>
					</div>
					<div id="clump-right" class="clump">
						<div class="hair hair-1 bs1"></div>
						<div class="hair hair-2 bs2"></div>
						<div class="hair hair-3 bs3"></div>
						<div class="hair hair-4 bs1"></div>
						<div class="hair hair-5 bs2"></div>
						<div class="hair hair-6 bs3"></div>
						<div class="hair hair-7 bs1"></div>
						<div class="hair hair-8 bs2"></div>
					</div>
					<div id="clump-top-pointy" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
					</div>
					<div id="clump-top-normal-left" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
						<div class="hair hair-13 t1 bs1"></div>
						<div class="hair hair-14 t2 bs2"></div>
						<div class="hair hair-15 t3 bs3"></div>
						<div class="hair hair-16 t1 bs1"></div>
					</div>
					<div id="clump-top-normal-right" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
					</div>
					<div id="clump-top-normal-under" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
						<div class="hair hair-13 t1 bs1"></div>
						<div class="hair hair-14 t2 bs2"></div>
						<div class="hair hair-15 t3 bs3"></div>
						<div class="hair hair-16 t1 bs1"></div>
						<div class="hair hair-17 t2 bs2"></div>
						<div class="hair hair-18 t3 bs3"></div>
						<div class="hair hair-19 t1 bs1"></div>
						<div class="hair hair-20 t2 bs2"></div>
						<div class="hair hair-21 t3 bs3"></div>
						<div class="hair hair-22 t1 bs1"></div>
						<div class="hair hair-23 t1 bs1"></div>
					</div>
				</div>
				<div id="head">
					<div id="eyebrows">
						<div id="eyebrow-left" class="eyebrow"></div>
						<div id="eyebrow-right" class="eyebrow"></div>
					</div>
					<div id="eyes">
						<div id="eye-left" class="eye">
							<div class="eye-color-1">
								<div class="eye-pupil"></div>
							</div>
						</div>
						<div id="eye-right" class="eye">
							<div class="eye-color-1">
								<div class="eye-pupil"></div>
							</div>
						</div>
					</div>
					<div id="nose">
						<div id="nose-main"></div>
						<div id="nose-left" class="nostril"></div>
						<div id="nose-right" class="nostril"></div>
					</div>
					<div id="mouth">
						<div id="mouth-left-dimple"></div>
						<div id="mouth-crease-1"></div>
						<div id="mouth-crease-2"></div>
						<div id="mouth-upper-lip" class="lip"></div>
						<div id="mouth-middle-smile"></div>
						<div id="mouth-lower-lip" class="lip"></div>
						<div id="mouth-crease-3"></div>
						<div id="mouth-right-dimple"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr>

<section id="contact">
	<div class="section-content">
		<h1 class="section-header">send me an email</h1>
		<p>
			Lorem ipsum dolor sit amet,  Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus.
		</p>
		<form>
			<input id="input-name" name="name" placeholder="Name">
			<input id="input-email" name="email" placeholder="Email">
			<textarea id="input-message" name="message" placeholder="Message"></textarea>
			<input id="input-submit" type="submit" value="Send">
		</form>
	</div>
</section>