<section id="welcome">
	<div class="section-content">
		<h1>JON ROVIRA</h1>
		<h2>Web | Software | Design</h2>
	</div>
</section>

<hr>

<section id="portfolio">
	<div class="section-content">
		<h1 class="section-header">portfolio</h1>

		<div id="portfolio-items-wrapper">

			<ul id="portfolio-gallery">
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>RJ</h2>
							<span>Software Development, UI Design</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>Census</h2>
							<span>UI/UX Design, Front-End Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>Easy Slide</h2>
							<span>Product Design, Construction</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>RJ</h2>
							<span>Software Development, UI Design</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>AirHop</h2>
							<span>Web Design/Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>JonRovira.com</h2>
							<span>UI/UX Design, Front-End Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>The Book</h2>
							<span>UI/UX Design, Front-End Development</span>
						</div>
					</a>
				</li>
				<li class="portfolio-item">
					<a>
						<img class="portfolio-item-image" src="http://unsplash.it/400?random">
						<div class="portfolio-item-info">
							<h2>Textbook Exchange</h2>
							<span>Front &amp; Back-End Development</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<hr>

<section id="about">
	<div class="section-content">
		<h1 class="section-header">about me</h1>
		<div id="about-left">
			<p>
				Lorem ipsum dolor sit amet,  Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. Nullam feugiat cursus lacus.orem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero risus, commodo vitae, pharetra mollis, posuere eu, pede. Nulla nec tortor. 
			</p>
			<p>
				Donec id elit quis purus consectetur consequat. Nam congue semper tellus. Sed erat dolor, dapibus sit amet, venenatis ornare, ultrices ut, nisi. Aliquam ante. Suspendisse scelerisque dui nec velit. Duis augue augue, gravida euismod, vulputate ac, facilisis id, sem. Morbi in orci. Nulla purus lacus, pulvinar vel, malesuada ac, mattis nec, quam. Nam molestie scelerisque quam. 
			</p>
			<h3>Quick details</h3>
			<ul id="quick-details">
				<li>20 years old</li>
				<li>Junior at Northwestern University</li>
				<li>Earning BS in Computer Science</li>
			</ul>
		</div>
		<div id="about-right">
			<div id="face">
				<div id="hair">
					<div id="clump-left" class="clump">
						<div class="hair hair-1 bs1"></div>
						<div class="hair hair-2 bs2"></div>
						<div class="hair hair-3 bs3"></div>
						<div class="hair hair-4 bs1"></div>
						<div class="hair hair-5 bs2"></div>
						<div class="hair hair-6 bs3"></div>
						<div class="hair hair-7 bs1"></div>
						<div class="hair hair-8 bs2"></div>
						<div class="hair hair-9 bs3"></div>
						<div class="hair hair-10 bs1"></div>
					</div>
					<div id="clump-right" class="clump">
						<div class="hair hair-1 bs1"></div>
						<div class="hair hair-2 bs2"></div>
						<div class="hair hair-3 bs3"></div>
						<div class="hair hair-4 bs1"></div>
						<div class="hair hair-5 bs2"></div>
						<div class="hair hair-6 bs3"></div>
						<div class="hair hair-7 bs1"></div>
						<div class="hair hair-8 bs2"></div>
					</div>
					<div id="clump-top-pointy" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
					</div>
					<div id="clump-top-normal-left" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
						<div class="hair hair-13 t1 bs1"></div>
						<div class="hair hair-14 t2 bs2"></div>
						<div class="hair hair-15 t3 bs3"></div>
						<div class="hair hair-16 t1 bs1"></div>
					</div>
					<div id="clump-top-normal-right" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
					</div>
					<div id="clump-top-normal-under" class="clump">
						<div class="hair hair-1 t1 bs1"></div>
						<div class="hair hair-2 t2 bs2"></div>
						<div class="hair hair-3 t3 bs3"></div>
						<div class="hair hair-4 t1 bs1"></div>
						<div class="hair hair-5 t2 bs2"></div>
						<div class="hair hair-6 t3 bs3"></div>
						<div class="hair hair-7 t1 bs1"></div>
						<div class="hair hair-8 t2 bs2"></div>
						<div class="hair hair-9 t3 bs3"></div>
						<div class="hair hair-10 t1 bs1"></div>
						<div class="hair hair-11 t2 bs2"></div>
						<div class="hair hair-12 t3 bs3"></div>
						<div class="hair hair-13 t1 bs1"></div>
						<div class="hair hair-14 t2 bs2"></div>
						<div class="hair hair-15 t3 bs3"></div>
						<div class="hair hair-16 t1 bs1"></div>
						<div class="hair hair-17 t2 bs2"></div>
						<div class="hair hair-18 t3 bs3"></div>
						<div class="hair hair-19 t1 bs1"></div>
						<div class="hair hair-20 t2 bs2"></div>
						<div class="hair hair-21 t3 bs3"></div>
						<div class="hair hair-22 t1 bs1"></div>
						<div class="hair hair-23 t1 bs1"></div>
					</div>
				</div>
				<div id="head">
					<div id="eyebrows">
						<div id="eyebrow-left" class="eyebrow"></div>
						<div id="eyebrow-right" class="eyebrow"></div>
					</div>
					<div id="eyes">
						<div id="eye-left" class="eye">
							<div class="eye-color-1">
								<div class="eye-pupil"></div>
							</div>
						</div>
						<div id="eye-right" class="eye">
							<div class="eye-color-1">
								<div class="eye-pupil"></div>
							</div>
						</div>
					</div>
					<div id="nose">
						<div id="nose-main"></div>
						<div id="nose-left" class="nostril"></div>
						<div id="nose-right" class="nostril"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr>

<section id="contact">
	<div class="section-content">
		<h1 class="section-header">send me an email</h1>
		<p>
			Lorem ipsum dolor sit amet,  Nulla nec tortor. Donec id elit quis purus consectetur consequat. Nam congue semper tellus.
		</p>
		<form>
			<input id="input-name" name="name" placeholder="Name">
			<input id="input-email" name="email" placeholder="Email">
			<textarea id="input-message" name="message" placeholder="Message"></textarea>
			<input id="input-submit" type="submit" value="Send">
		</form>
	</div>
</section>