@import "bourbon/bourbon";

@font-face {
	font-family: ProximaNova-light;
	src: "/fonts/ProximaNova-light.otf";
}

$font-stack: "ProximaNova-light", Arial, Helvetica, sans-serif;
$desktop-inner-width: 80%;
$portfolio-item-width: 400px;
$portfolio-section-content-margin-left: 10%; // 100% - $portfolio-section-content-width
$portfolio-section-content-width: 90%; // (100% - $desktop-inner-width) / 2
$portfolio-item-spacing: 40px;
$p-font-size: 14px;
$p-line-height: 20px;

/* Globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}
html {
	font-family: $font-stack;

	body {

		main {

			section {
				width: 100%;

				div.section-content {
					margin: 0 auto 80px auto;
					width: $desktop-inner-width;

					h1.section-header {
						margin: 20px 0;
						font-size: 45px;
						text-align: left;
					}
				}
			}
			hr {
				width: $desktop-inner-width;
				border: 1px solid #eee;
				border-style: solid none none none;
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		line-height: 1.1;
		color: #222;
	}
	p {
		font-size: $p-font-size;
		line-height: $p-line-height;
	}
}


/* Header */
header {
	width: 100%;
	background-color: #222;

	> nav {
		margin: 0 auto;
		padding: 5px 0;
		width: $desktop-inner-width;
		text-align: center;

		img.header-img {
			float: left;
		}
		nav {

			ul {

				li {
					display: inline-block;

					a {
						padding: 15px;
						color: #fff;
						font-size: 14px;
						text-decoration: none;
					}
				}
			}
		}
		nav.header-menu {
			display: inline-block;
			padding: 22px 0;
		}
		nav.header-social {
			float: right;
			padding: 20px 0;

			i {
				font-size: 19px;
			}
		}
	}
}


/* Welcome */
section#welcome {

	div.section-content {
		padding: 240px 0 230px;
		text-align: center;

		h1 {
			font-size: 60px;
		}
		h2 {
			font-size: 30px;
		}
	}
}


/* Portfolio */
section#portfolio {

	div.section-content {
		margin-left: $portfolio-section-content-margin-left;
		width: $portfolio-section-content-width;

		div#portfolio-items-wrapper {
			position: relative;
			overflow-x: scroll;


			ul#portfolio-gallery {
				list-style: none;
				position: relative;

				li.portfolio-item {
					display: inline-block;
					margin-right: $portfolio-item-spacing;
					margin-bottom: 20px;
					width: $portfolio-item-width;
					box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
					border-radius: 3px;
					cursor: pointer;

					a {

						img.portfolio-item-image {
							width: 100%;
							border-radius: 3px 3px 0 0;

						}
						div.portfolio-item-info {
							padding: 10px;
							text-align: left;
							border-radius: 0 0 3px 3px;

							h2 {
								font-size: 19px;
								color: #555;
							}
							span {
								font-size: 13px;
								color: #888;
							}
						}
					}
				}
			}
		}
	}
}


/* About */
section#about {

	div.section-content {
		overflow: auto;

		div#about-left {
			float: left;
			width: 50%;

			p {
				margin-bottom: 10px;
			}
			h3 {
				margin: 20px 0 10px 0;
				font-size: 15px;
				font-weight: 700;
			}
			ul#quick-details {
				padding-left: 15px;
				font-size: $p-font-size;
				list-style: none;

				li {
					margin-bottom: 5px;
				}
			}
		}
		div#about-right {
			float: right;
			width: 40%;

			img {
				width: 100%;
			}
		}
	}
}


/* Contact */
section#contact {

	div.section-content {

		form {
			margin-top: 40px;

			input {
				display: block;
				margin-bottom: 30px;
				width: 300px;
				font-family: $font-stack;
				color: #333;
				font-size: 14px;
				border: 1px solid #222;
				border-style: none none solid none;
			}
			textarea {
				margin-bottom: 15px;
				width: 500px;
				min-height: 150px;
				font-family: $font-stack;
				color: #333;
				font-size: 14px;
				border: 1px solid #222;
				border-radius: 3px;
			}
			input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
			    color:    #333;
			}
			input:-moz-placeholder, textarea:-moz-placeholder {
			    color:    #333;
			}
			input::-moz-placeholder, textarea::-moz-placeholder {
			    color:    #333;
			}
			input:-ms-input-placeholder, textarea:-ms-input-placeholder {
			    color:    #333;
			}
			input#input-submit {
				padding: 6px 10px;
				width: auto;
				color: #fff;
				background-color: #09c;
				border: 1px solid #09c;
				border-radius: 3px;
			}
		}
	}
}




