@import "bourbon/bourbon";

@font-face {
	font-family: ProximaNova-light;
	src: "/fonts/ProximaNova-light.otf";
}

$font-stack: "ProximaNova-light", Arial, Helvetica, sans-serif;
$desktop-inner-width: 80%;
$p-font-size: 14px;
$p-line-height: 24px;

$portfolio-item-width: 400px;
$portfolio-item-spacing: 40px;

$skills-graph-height: 450px;
$skills-skill-width: calc((100% - 134px - (5 * 30px)) / 5);

$about-face-width: 250px;
$about-face-height: 380px;

/* Globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}
html {
	font-family: $font-stack;

	body {

		header {
			width: 100%;
			background-color: #222;

			> nav {
				margin: 0 auto;
				padding: 5px 0;
				width: $desktop-inner-width;
				text-align: center;

				> a {

					img.header-img {
						float: left;
					}
				}
				> a:hover {

					img.header-img {
						opacity: 0.7;
					}
				}
				i#menu-icon {
					float: right;
				}
				nav {

					ul {

						li {

							a {
								padding: 15px;
								color: #fff;
								font-size: 14px;
								text-decoration: none;
							}
						}
						li:hover {

							a {
								opacity: 0.7;
							}
						}
					}
				}
				nav#header-social {
					float: right;
					padding: 20px 0;

					i {
						font-size: 19px;
					}
				}
				nav#header-menu {
					display: inline-block;
					padding: 22px 0;
				}
			}
			@media(min-width: 321px) {
				> nav {

					i#menu-icon {
						display: none;
					}
					nav {
						display: block;

						ul {

							li {
								display: inline-block;

								a {
								}
							}
						}
					}
				}
			}
		}
		main {

			section {
				width: 100%;

				div.section-content {
					margin: 0 auto 80px auto;
					width: $desktop-inner-width;
					max-width: 1200px;

					h1.section-header {
						margin: 20px 0;
						font-size: 45px;
						text-align: left;
					}
				}
			}
			hr {
				width: $desktop-inner-width;
				border: 1px solid #eee;
				border-style: solid none none none;
			}
		}
		main#splash {

			/* Welcome */
			section#welcome {

				div.section-content {
					padding: 240px 0 230px;
					text-align: center;

					h1 {
						font-size: 60px;
					}
					h2 {
						font-size: 30px;
					}
					div#welcome-circle {
						position: relative;
						margin: 11px auto 0;
						width: 31px;
						height: 31px;
						background-color: #000;
						border: 1px solid #000;
						border-radius: 31px;
						cursor: pointer;

						div#welcome-triangle {
							position: absolute;
							left: 0.46em;
							top: 13px;
							width: 0;
							height: 0;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							border-top: 8px solid #fff;
						}
					}
					div#welcome-circle:hover {
						background-color: #fff;
						border: 1px solid #000;

						div#welcome-triangle {
							border-top-color: #000;
						}
					}
				}
			}
			/* Portfolio */
			section#portfolio {

				div.section-content {
					position: relative;
					margin-right: auto;
					margin-left: auto;

					div#portfolio-items-wrapper {
						position: relative;
						overflow-x: scroll;


						ul#portfolio-gallery {
							position: relative;
							list-style: none;

							li.portfolio-item {
								display: inline-block;
								margin-right: $portfolio-item-spacing;
								margin-bottom: 20px;
								width: $portfolio-item-width;
								vertical-align: top;
								box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
								border-radius: 3px;
								cursor: pointer;

								a {
									text-decoration: none;

									img.portfolio-item-image {
										width: 100%;
										border-radius: 3px 3px 0 0;

									}
									div.portfolio-item-info {
										padding: 10px;
										height: 52px;
										text-align: left;
										border-radius: 0 0 3px 3px;

										h2 {
											font-size: 19px;
											color: #555;
										}
										span {
											font-size: 14px;
											color: #888;
										}
									}
								}
							}
							li.portfolio-item:first-child {
								margin-left: 5px;
							}
							li.portfolio-item:last-child {
								margin-right: 0;
							}
						}
					}
					div#portfolio-items-wrapper::-webkit-scrollbar {
						display: none;
					}
					i.portfolio-scroll-indicator {
						position: absolute;
						top: 37%;
						font-size: 110px;
						color: rgba(0, 0, 0, 0.4);
					}
					i.portfolio-scroll-indicator.active {
						color: rgba(0, 0, 0, 0.8);
					}
					i#portfolio-scroll-backward-indicator {
						left: 10px;
					}
					i#portfolio-scroll-forward-indicator {
						right: 10px;
					}
				}
			}
			/* Skills */
			section#skills {

				div.section-content {

					h2 {
						margin: 30px 0 20px;
						text-align: right;
					}
					ul#skills-graph {
						margin: 30px 0 80px;
						width: 100%;
						height: $skills-graph-height;
						list-style: none;
						border-bottom: 1px solid #ccc;

						li {
							display: inline-block;
							vertical-align: bottom;
						}
						li#y-axis {
							padding-right: 20px;
							border-right: 1px solid #ccc;

							span {
								display: block;
								margin-bottom: calc(#{$skills-graph-height} / 6);
							}
							span:last-child {
								margin-bottom: 110px;
							}
						}
						li.skill {
							position: relative;
							margin-bottom: 40px;
							margin-left: 30px;
							width: $skills-skill-width;
							height: 0;
							border-radius: 3px 3px 0 0;
							box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);

							span {
								position: absolute;
								left: 10%;
								color: #fff;
								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
							}
							span.skill-level {
								bottom: 40px;
								font-size: 43px;
								opacity: 0.3;
								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
							}
							span.skill-name {
								font-size: 20px;
								bottom: 15px;
							}
						}
						// https://kuler.adobe.com/Theme-3-color-theme-4407117/
						li.skill#skill-html {
							// height: 95%;
							background-color: #032F40; // dark blue
							background: -webkit-linear-gradient(#065E7F, #032F40); /* For Safari 5.1 to 6.0 */
							  background: -o-linear-gradient(#065E7F, #032F40); /* For Opera 11.1 to 12.0 */
							  background: -moz-linear-gradient(#065E7F, #032F40); /* For Firefox 3.6 to 15 */
							  background: linear-gradient(#065E7F, #032F40); /* Standard syntax */
							border: 1px solid #032938;
						}
						li.skill#skill-css {
							// height: 90%;
							background-color: #0396A6; // turquoise
							background: -webkit-linear-gradient(#03A8BA, #0396A6); /* For Safari 5.1 to 6.0 */
							  background: -o-linear-gradient(#03A8BA, #0396A6); /* For Opera 11.1 to 12.0 */
							  background: -moz-linear-gradient(#03A8BA, #0396A6); /* For Firefox 3.6 to 15 */
							  background: linear-gradient(#03A8BA, #0396A6); /* Standard syntax */
							border: 1px solid #038391;
						}
						li.skill#skill-javascript {
							// height: 75%;
							background-color: #03A688; // green
							background: -webkit-linear-gradient(#04C29F, #03A688); /* For Safari 5.1 to 6.0 */
							  background: -o-linear-gradient(#04C29F, #03A688); /* For Opera 11.1 to 12.0 */
							  background: -moz-linear-gradient(#04C29F, #03A688); /* For Firefox 3.6 to 15 */
							  background: linear-gradient(#04C29F, #03A688); /* Standard syntax */
							border: 1px solid #03967B;
						}
						li.skill#skill-python {
							// height: 85%;
							background-color: #F2D8A7; // yellow
							background: -webkit-linear-gradient(#FFE4C6, #F2D8A7); /* For Safari 5.1 to 6.0 */
							  background: -o-linear-gradient(#FFE4C6, #F2D8A7); /* For Opera 11.1 to 12.0 */
							  background: -moz-linear-gradient(#FFE4C6, #F2D8A7); /* For Firefox 3.6 to 15 */
							  background: linear-gradient(#FFE4C6, #F2D8A7); /* Standard syntax */
							border: 1px solid #D6BF94;
						}
						li.skill#skill-cpp {
							// height: 80%;
							background-color: #F2AB91; // orangeish
							background: -webkit-linear-gradient(#FFB4A0, #F2AB91); /* For Safari 5.1 to 6.0 */
							  background: -o-linear-gradient(#FFB4A0, #F2AB91); /* For Opera 11.1 to 12.0 */
							  background: -moz-linear-gradient(#FFB4A0, #F2AB91); /* For Firefox 3.6 to 15 */
							  background: linear-gradient(#FFB4A0, #F2AB91); /* Standard syntax */
							border: 1px solid #DE9D85;
						}
					}
					ul#frameworks-tools-libraries {
						margin: 0 auto;
						padding: 20px 10px;
						border: 1px dotted #555;
						border-radius: 12px;

						li {
							display: inline-block;
							margin-left: 40px;
							font-size: 16px;
							line-height: 30px;
							color: #0396A6;
						}
					}
				}
			}
			/* About */
			section#about {

				div.section-content {
					overflow: auto;

					div#about-left {
						float: left;
						width: 50%;

						p {
							margin-bottom: 16px;
						}
						h3 {
							margin: 20px 0 10px 0;
							font-size: 15px;
							font-weight: 700;
						}
						ul#quick-details {
							padding-left: 15px;
							font-size: $p-font-size;
							list-style: none;

							li {
								margin-bottom: 5px;
							}
							li.list-square {
								float: left;
								margin-right: 10px;
								font-size: 11px;
								color: #0396A6;
								line-height: 13px;
								vertical-align: middle;
							}
						}
					}
					div#about-right {
						float: right;
						width: 35%;
						height: 420px;

						div#face {
							position: relative;
							width: $about-face-width;
							height: $about-face-height;

							div#hair {
								position: relative;
								z-index: 2;

								div.clump {
									position: absolute;

									div.bs1 {
										box-shadow: inset -11px 0 0 0 #1a1a1a;
									}
									div.bs2 {
										box-shadow: inset -11px 0 0 0 #252525;
									}
									div.bs3 {
										box-shadow: inset -11px 0 0 0 #000;
									}
								}
								div#clump-left {
									left: 0;

									div.hair {
										position: absolute;
										width: 20px;
										height: 40px;
										border-radius: 50%;
										transform: rotate(200deg);
									}
									div.hair-1 { top: 35px; left: 19px; }
									div.hair-2 { top: 35px; left: 27px; }
									div.hair-3 { top: 55px; left: 10px; }
									div.hair-4 { top: 55px; left: 20px; }
									div.hair-5 { top: 75px; left: 5px; }
									div.hair-6 { top: 75px; left: 15px; }
									div.hair-7 { top: 95px; left: 0px; transform: rotate(195deg); }
									div.hair-8 { top: 105px; left: -2px; transform: rotate(192deg); }
									div.hair-9 { top: 112px; left: -2px; transform: rotate(192deg); }
									div.hair-10 { top: 120px; left: -2px; transform: rotate(192deg); }
								}
								div#clump-right {
									right: 0;

									div.hair {
										position: absolute;
										width: 20px;
										height: 40px;
										border-radius: 50%;
										transform: rotate(-20deg);
									}
									div.hair-1 { top: 35px; left: -34px; }
									div.hair-2 { top: 35px; left: -44px; }
									div.hair-3 { top: 55px; left: -27px; }
									div.hair-4 { top: 55px; left: -37px; }
									div.hair-5 { top: 75px; left: -22px; }
									div.hair-6 { top: 75px; left: -32px; }
									div.hair-7 { top: 95px; left: -17px; transform: rotate(-15deg); }
									div.hair-8 { top: 105px; left: -15px; transform: rotate(-12deg); }
								}
								div#clump-top-pointy {
									top: -36px;
									left: 75px;

									div.hair {
										position: absolute;
										width: 65px;
										height: 70px;
										border-radius: 50%;
									}
									div.t1 { transform: rotate(60deg); }
									div.t2 { transform: rotate(70deg); }
									div.t3 { transform: rotate(80deg); }
									div.hair-1  { left: 15px; }
									div.hair-2  { left: 20px; }
									div.hair-3  { left: 25px; }
									div.hair-4  { left: 30px; }
									div.hair-5  { left: 35px; }
									div.hair-6  { left: 40px; }
									div.hair-7 { left: 45px; }
									div.hair-8 { left: 50px; }
									div.hair-9 { left: 55px; }
									div.hair-10 { left: 60px; }
									div.hair-11 { left: 65px; }
									div.hair-12 { left: 70px; }
								}
								div#clump-top-normal-left {
									left: 20px;

									div.hair {
										position: absolute;
										width: 30px;
										height: 40px;
										border-radius: 50%;
									}
									div.t1 { transform: rotate(220deg); }
									div.t2 { transform: rotate(230deg); }
									div.t3 { transform: rotate(240deg); }
									div.hair-1  { top: 10px; left: 17px; }
									div.hair-2  { top: 8px; left: 26px; }
									div.hair-3  { top: -2px; left: 35px; }
									div.hair-4  { top: -6px; left: 45px; }
									div.hair-5  { top: -8px; left: 55px; }
									div.hair-6  { top: -12px; left: 65px; }
									div.hair-7  { top: -10px; left: 75px; }
									div.hair-8  { top: -10px; left: 85px; }
									div.hair-9  { top: -10px; left: 95px; }
									div.hair-10 { top: 28px; left: 19px; }
									div.hair-11 { top: 15px; left: 33px; }
									div.hair-12 { top: 0; left: 55px; }
									div.hair-13 { top: -5px; left: 100px; }
									div.hair-14 { top: 5px; left: 63px; }
									div.hair-15 { top: 5px; left: 67px; }
									div.hair-16 { top: 0px; left: 105px; }
								}
								div#clump-top-normal-right {
									right: 62px;

									div.hair {
										position: absolute;
										width: 30px;
										height: 40px;
										border-radius: 50%;
									}
									div.t1 { transform: rotate(310deg); }
									div.t2 { transform: rotate(320deg); }
									div.t3 { transform: rotate(330deg); }
									div.hair-1  { top: 10px; left: 0; }
									div.hair-2  { top: 21px; left: -2px; }
									div.hair-3  { top: 40px; left: 8px; }
									div.hair-4  { top: 50px; left: 16px; }
								}
								div#clump-top-normal-under {
									left: 30px;

									div.hair {
										position: absolute;
										width: 30px;
										height: 40px;
										border-radius: 50%;
									}
									div.t1 { transform: rotate(270deg); }
									div.t2 { transform: rotate(280deg); }
									div.t3 { transform: rotate(290deg); }
									div.hair-1  { top: 30px; left: 10px; }
									div.hair-2  { top: 36px; left: 30px; }
									div.hair-3  { top: 33px; left: 50px; }
									div.hair-4  { top: 30px; left: 70px; }
									div.hair-5  { top: 36px; left: 90px; }
									div.hair-6  { top: 33px; left: 110px; }
									div.hair-7  { top: 30px; left: 130px; }
									div.hair-8  { top: 36px; left: 150px; }
									div.hair-9  { top: 25px; left: 30px; }
									div.hair-10  { top: 22px; left: 50px; }
									div.hair-11  { top: 28px; left: 70px; }
									div.hair-12  { top: 25px; left: 90px; }
									div.hair-13  { top: 22px; left: 110px; }
									div.hair-14  { top: 28px; left: 130px; }
									div.hair-15 { top: 25px; left: 150px; }
									div.hair-16 { top: 14px; left: 30px; }
									div.hair-17 { top: 18px; left: 30px; }
									div.hair-18 { top: 27px; left: 30px; }
									div.hair-19 { top: 18px; left: 60px; }
									div.hair-20 { top: 27px; left: 80px; }
									div.hair-21 { top: 20px; left: 132px; }
									div.hair-22 { top: 33px; left: 128px; }
									div.hair-23 { top: 37px; left: 13px; }
								}
							}
							div#head {
								z-index: 1;
								position: absolute;
								width: $about-face-width;
								height: $about-face-height;
								background-color: #D6AF92; // #E1B899;
								border-radius: 45% 45% 55% 55%;

								div#eyebrows {

									div.eyebrow {
										position: absolute;
										top: 135px;
										width: 35px;
										height: 60px;
										box-shadow: inset -10px 0 0 0 #000;
									}
									div#eyebrow-left {
										left: 52px;
										transform: rotate(-83deg);
										border-radius: 75% 55% 8% 60%;
									}
									div#eyebrow-right {
										right: 52px;
										transform: rotate(-96deg);
										border-radius: 55% 8% 60% 75%;
									}
								}
								div#eyes {
									div.eye {
										position: absolute;
										top: 165px;
										width: 50px;
										height: 18px;
										background-color: #f8f8f8;
										box-shadow: 0 3px 0px 1px #C7A387;
										overflow: hidden;

										div.eye-color-1 {
											z-index: 0;
											position: absolute;
											top: -2px;
											left: 12px;
											width: 25px;
											height: 25px;
											background-color: #78542F;
											border-radius: 50%;
											box-shadow: inset 0px 6px 8px -1px rgba(84, 59, 33, 0.9);

											div.eye-pupil {
												z-index: 2;
												position: absolute;
												top: 7px;
												left: 7px;
												width: 12px;
												height: 12px;
												background-color: #111;
												border-radius: 50%;
												box-shadow: 0 0 10px 0 rgb(161, 112, 63);
											}
										}
									}
									div#eye-left {
										left: 50px;
										transform: rotate(3deg);
										border-radius: 50px 50px 10px 10px;
									}
									div#eye-right {
										right: 50px;
										transform: rotate(-3deg);
										border-radius: 50px 50px 10px 10px;
									}
								}
								div#nose {
									position: absolute;
									top: 185px;
									left: 112px;

									div#nose-main {
										width: 30px;
										height: 80px;
										border-radius: 0 0 15px 15px;
										box-shadow: 0px 6px 4px -2px rgba(196, 136, 89, 0.68);
									}
									div.nostril {
										position: absolute;
										top: 52px;
										width: 17px;
										height: 17px;
										border-radius: 0 0 20px 20px;
									}
									div#nose-left {
										left: -10px;
										box-shadow: -1px 4px 4px -2px rgba(196, 136, 89, 1), inset 0px -15px 17px -11px rgba(223, 179, 145, 0.68);
										-webkit-transform: rotate(33deg);
										transform: rotate(45deg);
									}
									div#nose-right {
										right: -10px;
										box-shadow: 1px 4px 4px -2px rgba(196, 136, 89, 1), inset 0px -15px 17px -11px rgba(223, 179, 145, 0.68);
										-webkit-transform: rotate(-33deg);
										transform: rotate(-45deg);
									}
								}
								div#mouth {
									position: relative;
									top: 285px;
									left: 70px;

									div#mouth-left-dimple {
										position: absolute;
										top: -40px;
										left: -40px;
										width: 8px;
										height: 30px;
										border-radius: 70%;
										box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
										transform: rotate(170deg);
									}
									div#mouth-crease-1 {
										position: absolute;
										top: -29px;
										left: -13px;
										width: 35px;
										height: 45px;
										border-radius: 85%;
										box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
										transform: rotate(209deg);
									}
									div#mouth-crease-2 {
										position: absolute;
										top: -7px;
										left: -7px;
										width: 15px;
										height: 25px;
										border-radius: 85%;
										box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
										transform: rotate(150deg);
									}
									div.lip {
										position: absolute;
										background-color: #DE8877;
									}
									div#mouth-upper-lip {
										top: 0;
										width: 90px;
										height: 5px;
										border-radius: 50% / 100%;
										border-bottom-left-radius: 0;
										border-bottom-right-radius: 0;
										transform: rotate(8deg);

									}
									div#mouth-middle-smile {
										position: absolute;
										top: -52px;
										left: 38px;
										z-index: 1;
										width: 20px;
										height: 103px;
										border-radius: 30%;
										box-shadow: inset -2px 0 0 0 rgba(0, 0, 0, 0.2);
										transform: rotate(98deg);
									}
									div#mouth-lower-lip {
										top: 5px;
										left: 2px;
										width: 90px;
										height: 14px;
										border-radius: 50% / 100%;
										border-top-left-radius: 0;
										border-top-right-radius: 0;
										transform: rotate(8deg);
									}
									div#mouth-crease-3 {
										position: absolute;
										top: 10px;
										left: 92px;
										width: 15px;
										height: 20px;
										border-radius: 85%;
										box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
										transform: rotate(350deg);
									}
									div#mouth-right-dimple {
										position: absolute;
										top: -30px;
										left: 140px;
										width: 8px;
										height: 37px;
										border-radius: 70%;
										box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
										transform: rotate(7deg);
									}
								}
							}
						}
					}
				}
			}
			/* Contact */
			section#contact {

				div.section-content {

					form {
						margin-top: 40px;

						input {
							display: block;
							margin-bottom: 30px;
							width: 300px;
							font-family: $font-stack;
							color: #333;
							font-size: 14px;
							border: 1px solid #222;
							border-style: none none solid none;
						}
						textarea {
							margin-bottom: 15px;
							width: 500px;
							min-height: 150px;
							font-family: $font-stack;
							color: #333;
							font-size: 14px;
							border: 1px solid #222;
							border-radius: 3px;
						}
						input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
						    color:    #333;
						}
						input:-moz-placeholder, textarea:-moz-placeholder {
						    color:    #333;
						}
						input::-moz-placeholder, textarea::-moz-placeholder {
						    color:    #333;
						}
						input:-ms-input-placeholder, textarea:-ms-input-placeholder {
						    color:    #333;
						}
						input#input-submit {
							padding: 6px 10px;
							width: auto;
							color: #fff;
							background-color: #0396A6;
							border: 1px solid #0396A6;
							border-radius: 3px;
						}
					}
				}
			}
		}
		main.portfolio-item {

			/* General section */
			section {

				div.section-content {
					margin-bottom: 30px;

					> h2.section-header {
						margin: 20px 0 10px;
						font-size: 30px;
					}
				}
			}
			/* Item header */
			section#item-header {
				margin-top: 30px;

				div.section-content {
					overflow: auto;

					div#item-header-left {
						float: left;
						margin-right: 30px;

						img#item-image {
							width: 300px;
						}
					}
					div#item-header-right {
						float: left;

						h1#item-title {
							display: inline-block;
							margin-right: 15px;
							font-size: 45px;
						}
						a#item-github {
							display: inline-block;
							margin-top: 4px;
							padding: 7px;
							vertical-align: top;
							line-height: 20px;
							text-decoration: none;
							background-color: #60b044;
							background-image: mox-linear-gradient(#8add6d, #60b044);
							background-image: linear-gradient(#8add6d, #60b044);
							background-repeat: repeat-x;
							border: 1px solid #5ca941;
							border-radius: 3px;
							color: #ffffff;

							i {
								margin-left: 5px;
								font-size: 20px;
							}
						}
						h3#item-date {
							margin-top: 8px;
						}
						ul#item-roles {
							margin-top: 10px;
							list-style: none;
							
							li {
								display: inline-block;
								padding: 8px 10px;
								border: 1px dotted #555;
								border-radius: 12px;
							}
							li:not(:last-child) {
								margin-right: 10px;
							}
						}
					}
				}
			}
			/* Item summary */
			section#item-summary {

				div.section-content {

					
				}
			}
			/* Item technology */
			section#item-technology {

				div.section-content {

					ul#item-technologies {
						padding-left: 40px;
						list-style: none;

						li {
							margin-bottom: 5px;
						}
						li.list-square {
							float: left;
							margin-right: 10px;
							font-size: 11px;
							color: #0396A6;
							line-height: 13px;
							vertical-align: middle;
						}
					}	
				}
			}
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: 500;
			line-height: 1.1;
			color: #222;
		}
		p {
			font-size: $p-font-size;
			line-height: $p-line-height;
		}
	}
}




